<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    

        <nav class="nav justify-content-center navbar- bg-light m-3">
            <a class="nav-link" href="cadastrandoLivros">Cadastrar</a>
            <a class="nav-link" href="listarLivros">Acervo</a>
            <a class="nav-link active" href="editarLivros">Editar</a>
            <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
          </nav>
    

 
 <section class="container mg5">
    <h1>Loging</h1>
    <form class="form-inline">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control m-2" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Email">
    <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control m-2" id="exampleInputPassword1" placeholder="Senha">
      </div>
        <button type="submit" class="btn btn-danger m-2">Enviar</button>
      </form>
 </section>

<%- include("../partials/footer"); %>
